<!--Coded by Jacinta-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUL'S DINING</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <div class="container">
        <!--Navigation bar on every page-->
    <div class="navbar"> 
        <img src="../images/logo.jpg" alt="Logo" id="logo">
    <div>
        <div class="nav">        
         <a id="home" href="index.html">HOME</a>
        <a id="menu" href="menu.html">MENU</a>
        <a id="gallery" href="gallery.html">GALLERY</a>
        <a id="contact" href="contact.html">CONTACT US</a>
        <a id="login" href="index.html">LOG OUT</a>
    </div>
    </div>
    </div>

    <div class="contact-form">
        <h1>Contact Us</h1>
    <div class="txtb">
    <label>Full Name :</label>
    <input type="text" name="" value="" placeholder="Enter Your Name">
    </div> 
    <div class="txtb">
    <label>Email :</label>
    <input type="text" name="" value="" placeholder="Enter Your Email">
    </div>
    <div class="txtb">
        <label>Phone Number :</label>
        <input type="text" name="" value="" placeholder="Enter Your Phone Number">
    </div>
    <div class="txtb">
        <label>Message :</label>
        <textarea name="name" rows="8" cols="50"></textarea>
    </div>
    <a class="btn">Send</a>
    </div>

    
    </div>
</body>
</html>
