<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUL'S DINING</title>
    <link rel="stylesheet" type="text/css" href="../css/gallery.css">
    <script src="./javascript/project.js"></script>
</head>
<body>
    <div class="container"> 
    <!--Navigation bar on every page-->
    <div class="navbar"> 
            <img src="../images/logo.jpg" alt="Logo" id="logo">
        <div>
            <div class="nav">        
            <a id="home" href="../index.html">HOME</a>
            <a id="menu" href="menu.html">MENU</a>
            <a id="login" href="../index.html">LOG OUT</a>
            </div>
        </div>
    </div>

    <!--Main content containing about us and signup sections-->
    <div class="content">
       <div class="content1">
            <img src="../images/pic1.jpg">
            <img src="../images/pic2.jpg">
            <img src="../images/pic3.jpg">
       </div>
        <div class="content2">
            <img src="../images/pic4.jpg">
            <img src="../images/pic5.jpg">
            <img src="../images/pic6.jpg">
       </div>
       <div class="content3">
            <img src="../images/pic7.jpg">
            <img src="../images/pic8.jpg">
            <img src="../images/pic9.jpg">
        </div>
    </div>

<!--Footer on every page-->
<footer>
    <div class="left-foot"> 
        <p> &copy; 2020 Soul's Dining. All Rights Reserved.<p> <br>
        <a href="https://www.facebook.com/"><img src="../images/facebook.png" alt="Facebook"></a><br>
        <a href="https://www.twitter.com/"><img src="../images/twitter.png" alt="Twitter"></a><br>
        <a href="https://www.github.com/"><img src="../images/github.png" alt="Github"></a><br>
    </div>
    <div class="middle-foot">
        <strong>Contact Us</strong>
        <p>info@soulsdining.com</p>
        <p>+256 333 777 202</p>
    </div>
    <div class="right-foot">
        <strong>Location</strong>
        <p>Plot 37 Bel-Air Lane, Naguru</p>
        <p>P.O Box 256 Kampala, Uganda</p>
    </div>

</footer>
</div>
</body>
</html>