<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUL'S DINING</title>
    <link rel="stylesheet" type="text/css" href="/UI/css/style.css">
    <script src="./javascript/project.js"></script>
</head>
<body>
    <div class="container"> 
<!--Navigation bar on every page-->
    <div class="navbar"> 
            <img src="images/logo.jpg" alt="Logo" id="logo">
        <div>
            <div class="nav">        
             <a id="home" href="index.html">HOME</a>
            <a id="login" href="login.html">LOG IN</a>
            <a id="menu" href="menu.html">MENU</a>
            <a id="gallery" href="gallery.html">GALLERY</a>
            <a id="contact" href="contact.html">CONTACT US</a>
            </div>
        </div>
    </div>

<!--Page content-->
    


<!--Footer on every page-->
    <footer>
        <p> &copy; 2020 Soul's Dining. All Rights Reserved. <br> <a href="https://www.facebook.com/">Facebook</a>
            </p>
    </footer>
</div>
</body>
</html>